/* root{
--primary-color: linear-gradient(to left, #302b48, #264A9D);
} */

body{
background-color: white;
margin: 0px;
font-size: 100%;
font-family: sans-serif;
width: 100%;
overflow-x: hidden;
}


nav{
    background:#2d2e2e;
    height: 20vh;
}


.navbar-brand{
    color: white !important;
    font-size: 380%;
    position: relative;
    left: 20vh;
    font-weight: normal !important;
}

.nav-link{
    color: white !important;
    font-weight: bold;
    font-size: 100%;
}

.lister{
    position: relative;
    left: 24vh;
}


.shop-con{
    position: relative;
    left: 45vh;
}

.fa-shopping-cart{
    color: white;
    font-size: 130%;
    cursor: pointer;
}
.fa-angle-down{
    color: white;
}
#shop-link:hover, #shop-inner:hover, #result-link:hover, #result-inner:hover{
    color: black !important;
    background-color: white;
}


.hover-1, .hover-2{
    display: none;
    background: white;
    width: 24vh;
    position: fixed;
    left: 29.46%;
    top: 12%;
    z-index: 5;
    border-radius: 0px;
    padding: 10px;
}
.hover-1 ul{
    padding: 0px;
    margin: 0px;
    /* border: 1px solid red; */
}

.hover-1 ul li{
    padding: 10px;
    cursor: pointer;
    /* border: 1px solid red; */
}


.hover-2{
    display:none;
    width: 18vh;
    position: fixed;
    left: 54.3%;
    top: 12%;
    z-index: 5;
    border-radius: 0px;
    padding: 10px;
}
.hover-2 ul{
    padding: 0px;
    margin: 0px;
    /* border: 1px solid red; */
}

.hover-2 ul li{
    padding: 10px;
    cursor: pointer;
    /* border: 1px solid red; */
}
.fa-play{
    color: white;
    font-size: 100%;
    background:dimgray;
    padding: 8px;
    border-radius: 50%;
}

/* .s1{
    height: 50vh;
} */

#slide{
    display: flex;
    height: 85vh;
    width: inherit;
    overflow: hidden;
    display: flex;
    /* border: 1px solid red; */
}

#slide .image-responsive{
    float: right;
    /* border: 1px solid red;     */
    width: 100%;
    height: inherit;
    object-fit: fill;
}
 
.abs-con{
    top: 34vh;
}

.big-text{
    color: white;
    font-size: 200%;
    font-family: sans-serif;
    font-weight: bold;
    /* text-shadow: 2px 2px 2px black; */
}
.text-intro{
    color: white;
    font-size: 110%;
    /* text-shadow: 2px 2px 2px black; */
}

.text-writeup-head{
    color: #25f1c9;
    font-size: 80%;
    font-weight: bold;
}

.text-writeup{
    font-size: 200%;
    font-weight: bold;
}

.btn{
    color: black;
    background: #25f1c9;
    border: 1px solid transparent!important;
    /* width: 25vh; */
    height: 6vh;
    border: hidden;
    font-weight: bold;
}

.btn:hover{
    
    background: #3bf5d0;
}

.btnr{
      color: #25f1c9;
    background: transparent !important;
    border: 1px solid #25f1c9 !important;
}

.mail-input{
    border: hidden;
    font-size: 80%;
    width: 30vh !important;
}

#playRight{
    transform: rotateZ(58deg);
    cursor: pointer;
}

.fa-play{
    cursor: pointer;
}

.s2-img{
height: 45vh;
width: 40vh;
}
.first-line{
    background-color: #25f1c9;
    width: 10vh;
    padding: 2px;
    margin-top: 0px;
    position: absolute;
    left: 3vh;
    top: 10vh;
}

.black{
    background-color: #2d2e2e;
}
.vid-con{
    height: 50vh;
}

.reduced{
    color: white;
    font-size: 250%;
    font-family: sans-serif;
    font-weight: bold;
    /* text-shadow: 2px 2px 2px black; */
}

.smaller{
    color: white;
    font-size: 125%;
    font-family: sans-serif;
    font-weight: bold;
}
.s3-img-con{
height: 75vh;
width: 46vh;
padding: 20px !important;
background-size: 100% 100% !important;
background-position: center !important;
object-fit: contain !important;
position: relative;
top: -25vh;
border-radius: 0px !important;
}
.cover-all{
    position: relative;
    top: 33vh;
}

.benefits{
    color: #25f1c9 !important;
    font-weight: bold;
}

.benefit-line{
    background-color: #25f1c9 !important;
    width: 10vh;
    padding: 2px;
}
.u-benefits{
    font-weight: bold;
    font-size: 160%;
}

.uu-benefits{
    font-size: 110%;
}

.btn-nd-co{
    position: relative;
    top: -25vh;
}

.stripe{
    color: #25f1c9;
}

.prime-cover{
    position: relative;
    left: 40vh;
}

.prime-line, .real-line, .enter-line{
    background-color: #25f1c9 !important;
    width: 6vh;
    padding: 1px;
    position: relative;
    left: -91vh;
}

 .real-line{
    left: -18vh;
}

.liner-btn{
    color: black;
    background: transparent;
    border: 1px solid transparent!important;
    width: auto;
    height: 7vh;
    border: 1px solid black !important;
    position: relative;
    top: 1vh;
}

.real-cover{
    /* border: 1px solid red; */
    position: relative;
    left: 10vh;
    width: 45vh;
}

    .real-left, .enter-left{
        /* border:1px solid red; */
        width: 65vh;
        height: 50vh;
    background-position: center;
    background-size: 100% 100% !important;
    background-position: center !important;
    object-fit: contain !important;
    }

    .enter-left{
        /* border:1px solid red; */
        width: 55vh;
        height: 60vh;
        position: relative;
        left: -20vh;
    }
    .enter-line{
        left: -29vh;
    }

    .enter-cover{
        /* border: 1px solid red; */
        position: relative;
        left: 10vh;
        width: 65vh;
    }
    .answer-texts-con{
        width: 40vh;
    }

    .answer-texts{
        font-size: 105%;
    }

        .partner-super{

                    background-color: #f7f7f7 !important;
        }


        .partners-con{
            min-height: 30vh;
            display: flex;
            align-items: center;
            }
            
            .partner-title{
            font-size: 80%;
            }
            
            .partner-box{
            padding: 1px !important;
            height: 5vh;
            width: 14vh;
            cursor: pointer;
            margin-bottom: 0px !important;
            }
        
            .partner-box img{
            height:inherit;
            width: 100%;
            border-radius: 0px;
            
            }



            .shogun-image {

                
            max-width: 100%;
            min-height: inherit;
            max-height: inherit;
            display: inline !important;
            border: 0;
            vertical-align: middle;

            }

            

            .foot{
                background: #2d2e2e;
                display: flex;
                flex-wrap: wrap;
            }

             .foot-cover{
                 position: relative;
                 left: 13vh;
            }


            p a{
                font-size: 80%;
                color: white;
            }

            .tm{
                width: 90%;
                position: relative;
                top: -3vh;
            }


/* SCIENCE */

.sci-top{
    background-image: url("/images/New\ folder/download.webp") !important;
     background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: contain;
    height: 79vh;
    display: flex !important;
    justify-content: center;
}

.sci-top-inner{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    height: 40vh;
}


.sci-top-inner p{
color: white;
font-size: 290% !important;
}

.sci-top-inner small{
color: white;
font-size: 100%;
}

.sci-top-inner .btn{
    font-weight: normal;
}

.sci-2{
    background: #25f1c9;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sci-2 p{
font-size: 200%;
color: white;
}

.split{
    display: flex !important;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 1px solid red !important; */
}


.split-cons{
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red !important; */
}



.split-cons-img-con1{
    background-image: url("/images/New\ folder/download.webp") !important;
     background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: contain;
}


.split-cons-img-con1,.split-cons-img-con2{
    width: 30%;
    height: 100px !important;
    padding: 0px;
}



.split-cons-img-con1, .split-cons-img-con2{
    background-image: url("/images/New\ folder/download%20(1).webp") !important;
     background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: contain;
}


.split-cons-img-con2{
    background-image: url("/images/New\ folder/download%20(2).webp") !important;
}

.sci-2-small{
    font-size: 80% !important;
    margin-bottom: 0px !important;
}

.sci-2-p{
    font-size: 170% !important;
}


.sci-2a{
    background-image: url("/images/New\ folder//download%20(3).webp") !important;
     background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: contain;
    height: 79vh;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sci-2a-title{
    color: white;
    font-size: 330%;
    font-family: serif;
    font-weight: bold;
}


.sci-2a-text{
    color: white;
    font-size: 100%;
}


.sci-3{
    /* background: #25f1c9; */
    /* height: 57vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sci-3-1-title{
    font-weight: bold;
    font-size: 155%;
}

.sci-3-1-text{
    font-size: 90%;
}

.hyper-super{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px;
}

.hyper-text-con{
    width: 50%;
    background: transparent;
}

.hyper-vid-con{
    background: transparent;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* border: 1px solid red; */
}

.hyper-vid-con video{
    width: 40%;
}
.mvt-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 0px;
    /* border: 1px solid red; */
}

 .mvt-line{
    background-color: #25f1c9;
    width: 40%;
    position: relative;
    left:0vh;
     padding: 1px;
     margin: 0px;
     margin-bottom: 0px;
}
.mvt-head{
    font-size: 300%;
    font-weight: bold;
    font-family: serif;
}

.mvt-text{
    font-size: 90%;
}


.skill-con, .endurance-con{
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    padding: 0px;
    margin-bottom: 1px;
    /* border: 1px solid red; */
}

.skill-title{
    font-weight: bold;
    font-size: 190%;
    margin-bottom: 2px;
}

.skill-text{
    font-size: 85%;
    margin-bottom: 0px;
}

.strength-con{
    display: flex;
    justify-content:space-between;
    position: relative;
    width: 100%;
    padding: 0px;
    margin-bottom: 1px;
    /* border: 1px solid red; */
}

.mvt-img-cons{
    width: 50% !important;
    height: 500px;
    border-radius: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
}

.strength-con .mvt-img-cons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 0px;
    margin: 0px !important;
    /* border: 1px solid red; */
}


.mvt-img-cons1, .mvt-img-cons2,.mvt-img-cons3{
    background-image: url("/images/New%20folder/download%20(4).webp") !important;
     background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: contain;
}

.mvt-img-cons2{
    
    background-image: url("/images/New%20folder/download%20(5).webp") !important;
}

.mvt-img-cons3{
    background-image: url("/images/New%20folder/download%20(6).webp") !important;
}
.sci-3-2{
    background: #25f1c9;
    /* height: 57vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    /* border: 1px solid red !important; */
}

.sci-3-2 .title{
    color: white;
    font-size: 180%;
    font-weight: bold;
}


.sci-3-2 .texts{
    color: white !important;
    font-size: 90%;
    font-weight: bold;
}



.sci-3-3{
    /* background: #25f1c9; */
    /* height: 57vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

.tds-title{
    font-weight: bold;
    font-size: 140%;
    margin-bottom: 0px;
}

.tds-texts{
    font-size: 100%;
    font-stretch: ultra-expanded;
}

.support-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.support-row-cons{
    width: 50vh !important;
    padding: 5px;
    margin: 0.8vh;
    border-radius: 0px;
}

.u-row-title{
    color: dimgray;
    font-size: 75%;
    font-weight: bold;;
    /* margin-bottom: 2px; */
}


.u-row-text{
    font-size: 110%;
    font-weight: bold;
    margin: 20px;
    margin-bottom: 4px;
}

    .u-row-line{
    background-color: #25f1c9;
    width: 45px;
    position: relative;
    left:0vh;
     padding: 1px;
     margin: 20px;
     margin-bottom: 4px;
}
.u-row-base{
    font-size: 80%;
}
.btn-guide-img-con{
    width: 50%;
    margin-bottom: 0px !important;
}


.must-read-con-super{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pic-must{
    background: transparent;
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic-must .img-fluid{
width: auto;
height: 500px;
}



/* EXPERIENCE */


.ex-top{
    /* background:black !important; */
    height: 79vh;
    display: flex !important;       
    justify-content: flex-end;
    background-image: url("/images/downloadx.webp") !important;
     background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: contain;
}

.ex-top-inner{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    padding: 30px !important;
    height: 40vh;
    position: relative;
    top: 10vh;
}


.ex-top-inner p{
    font-family: serif;
color: white;
font-size: 290% !important;
}

.ex-top-inner small{
color: white;
font-size: 100%;
}

.ex-top-inner .btn{
    font-weight: normal;
}

.ex-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ex-2-title{
    font-family: serif;
    font-size: 200%;
}

.ex2-text-con{
    width: 60vh;
    margin-right: 7vh;
}

.ex-2-img{
    width: 30%;
}

.ex-3{
    /* background: #25f1c9; */
    /* height: 57vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
}

.ex-3 hr{
    background-color: #25f1c9;
    width: 75px;
     padding: 1px;
     margin: 0px;
     margin-bottom: 4px;
}

.ex-3 .vid-con{
    background-color: lightgray;
    width: 70%;
    height:60vh;
    border-radius: 0px;
    margin-bottom: 0px;
}

.ex-3-title{
    font-family: serif;
    font-size: 200%;
    margin-bottom: 0px;
}

.ex-3a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
}

.ex-3a-cons{
width: 350px !important;
height: 460px;
margin: 30px;
border-radius: 0px;
}



.ex-3a-cons1, .ex-3a-cons2, .ex-3a-cons3{
    background-image: url("/images/New%20folder/download%20(25).webp") !important;
     background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: contain;
}



.ex-3a-cons2{
    background-image: url("/images/New%20folder/download%20(26).webp") !important;
}



.ex-3a-cons3{
    background-image: url("/images/New%20folder/download%20(27).webp") !important;
}
.ex-4{
    /* background: #25f1c9; */
    /* height: 57vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ex-4 hr{
    background-color: #25f1c9;
    width: 75px;
     padding: 1px;
     margin: 0px;
     margin-bottom: 4px;
}

.ex-4 .vid-con{
    background-color: lightgray;
    width: 70%;
    height:60vh;
    border-radius: 0px;
    margin-bottom: 0px;
}

.ex-4-title{
    font-size: 200%;
    margin-bottom: 0px;
}
.ex-4-2{
    background: lightgray;
    width: 70%;
    height: 50vh !important;
}
.ex-5{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq{
    font-size: 240%;
}

.faq-3-3 hr{
    background-color: #25f1c9;
    width: 75px;
    position: relative;
    left:48%;
     padding: 1px;
     margin: 0px;
     margin-bottom: 4px;
}
.faq-flex-cons{
    width: 42vh;
    margin: 0.8vh;
    border-radius: 0px;
}

.faq-title-text{
    font-weight: bold;
    font-family: 120%;
}


.faq-texts{
    font-weight:normal;
    font-family: 230%;
    margin-bottom: 0px;
}

.ex-white-board{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ex-6-image{
    width: 30%;
    background: transparent;
    /* border:1px solid red; */
}


.ex-6-image .img-fluid{
width: 100%;
height: auto;
}
.ex-white-board .must-read-con{
    position: relative;
    left: auto;
}

/* SUPPORT */



.support-top{
    /* background:black !important; */
    height: 79vh;
    display: flex !important;       
    justify-content: flex-start;
    background-image: url("/images/downloadhang.webp") !important;
     background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: contain;
}

.support-top-inner{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    padding: 30px !important;
    height: 40vh;
    width: 33%;
    position: relative;
    top: 10vh;
    left: 10%;
}


.support-top-inner p{
    font-family: sans-serif;
color: white;
font-size: 290% !important;
}

.support-top-inner small{
color: white;
font-size: 100%;
}

.support-top-inner .btn{
    font-weight: normal;
}

.support-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.support-2-title{
    font-family: serif;
    font-size: 200%;
}

.support2-text-con{
    width: 60vh;
    margin-right: 7vh;
}

.support-2-img{
    width: 30%;
}



.support-super{
    background: white !important;
    /* height: 57vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px !important;
}
.support-3-3{
    /* background: #25f1c9 !important; */
    /* height: 57vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.support-title{
    color: #25f1c9;
    font-weight: normal;
    font-size: 90%;
    margin-bottom: 0px;
}

.support-texts{
    font-weight: normal !important;
    font-size: 280%;
    font-stretch: ultra-expanded;
}

.support-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.support-row-cons{
    width: 40vh;
    margin: 0.8vh;
    border: 1px solid lightgray;
    border-radius: 0px;
}

.support-row-title{
    color: black;
    font-size: 125%;
    font-weight: bold;
    margin: 20px !important;
}


.support-row-text{
    font-size: 100%;
    font-weight:normal;
    margin: 0px;
    margin-bottom: 4px;
}

.support-row-cons .btn{
    margin: 20px;
}

.support-row-line{
    background-color: #25f1c9;
    width: 45px;
    position: relative;
    left:0vh;
     padding: 1px;
     margin: 0px;
     margin-bottom: 4px;
}
.support-row-base{
    font-size: 80%;
}



.support-more-super{
    background:white !important;
    /* height: 57vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px !important;
}
.support-3-3{
    /* background: #25f1c9 !important; */
    /* height: 57vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.support-more-title{
    color: black;
    font-weight: normal;
    font-size: 230%;
    margin-bottom: 0px;
}

.support-more-texts{
    font-weight: normal !important;
    font-size: 110%;
    font-stretch: ultra-expanded;
}

.support-more-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.support-more-row-cons{
    width: 55vh;
    /* height: 60vh; */
    margin: 0.8vh;
    padding: 0px;
    border: 1px solid lightgray;
    border-radius: 0px;
}

.support-more-row-title{
    color: black;
    font-size: 170%;
    font-weight:normal !important;
    margin:20px;
    margin-bottom: 20px !important;
}

.support-more-row-line{
    background-color: #25f1c9;
    width: 45px;
     padding: 1px;
     margin: 20px;
     margin-bottom: 24px;
}

.support-row-text{
    font-size: 100%;
    font-weight:normal;
    margin:20px;
    margin-bottom: 4px;
}

.support-more-btn{
    margin:20px;
}

.stripper-con{
    background: #50505b !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stripper-con p{
    color: white !important;
    font-size: 140%;
}

.stripper-con .btn{
    background-color: white !important;
    border: 1px #2d2e2e;
    border-radius: 0px;
    height: 8vh;
    width: 8%;
}




.top-3-super{
    background:white !important;
    /* height: 57vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px !important;
}
.top-3-3{
    /* background: #25f1c9 !important; */
    /* height: 57vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    /* border: 1px solid red; */
}


.top-3-title{
    color: black;
    font-weight: normal;
    font-size: 230%;
    margin-bottom: 0px;
    /* border: 1px solid red; */
}

.top-3-texts{
    font-weight: normal !important;
    font-size: 110%;
    font-stretch: ultra-expanded;
}

.top-3-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    /* border: 1px solid red; */
}

.top-3-row-cons{
    width: 55vh;
    /* height: 60vh; */
    margin: 0.8vh;
    margin-bottom: 0px !important;
    border:none !important;
    border-radius: 0px;
    box-shadow: none !important;
}

.top-3-row-title{
    color: black;
    font-size: 170%;
    font-weight:normal !important;
    margin-bottom: 20px !important;
}

.top-3-row-line{
    background-color: #25f1c9;
    width: 45px;
     padding: 1px;
     margin: 0px;
     margin-bottom: 24px;
}

.support-row-text{
    font-size: 100%;
    font-weight:normal;
    margin-bottom: 4px;
}


.top-3-stripper-con{
    background: transparent !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px !important;
    /* border: 1px solid red; */
    width: 100%;
    position: relative;
    top: -55px;
}


.top-3-stripper-con .btn{
    font-size: 120%;
    width: 20vh;
}



.insider-super{
    background:white !important;
    /* height: 57vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0px !important; */
}
.insider-3{
    /* background: #25f1c9 !important; */
    /* height: 57vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    /* border: 1px solid red; */
}


.insider-title{
    color: black;
    font-weight: normal;
    font-size: 230%;
    margin-bottom: 0px;
    /* border: 1px solid red; */
}

.insider-texts{
    font-weight: normal !important;
    font-size: 110%;
    font-stretch: ultra-expanded;
}

.insider-list-con{
    width: 60%;
}
.insider-list-con li{
    background: #f5f5f5 !important;
    height: 10vh;
    font-weight: bold;
    font-size: 120%;
    cursor: pointer;
}




.getting-super{
    background:white !important;
    /* height: 57vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0px !important; */
}
.getting-3{
    /* background: #25f1c9 !important; */
    /* height: 57vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    /* border: 1px solid red; */
}

.getting-title{
    color: black;
    font-weight: normal;
    font-size: 230%;
    margin-bottom: 0px;
    /* border: 1px solid red; */
}

.getting-dummy-con{
    width: 75%;
    height: 80vh;
}






.button-super{
    background: white !important;
    /* height: 57vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px !important;
}
.button-3-3{
    /* background: #25f1c9 !important; */
    /* height: 57vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-title{
    color: #25f1c9;
    font-weight: normal;
    font-size: 90%;
    margin-bottom: 0px;
}

.button-texts{
    font-weight: normal !important;
    font-size: 280%;
    font-stretch: ultra-expanded;
}

.button-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button-row-cons{
    width: 45vh;
    margin: 0.8vh;
    border:none;
    box-shadow: none !important;
    border-radius: 0px;
}

.button-row-title{
    color: black;
    font-size: 125%;
    font-weight: bold;
    margin: 0px !important;
}


.support-row-text{
    font-size: 100%;
    font-weight:normal;
    margin-bottom: 4px;
}




.button-strip-con{
    background: black !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-strip-con p{
    color: white !important;
    font-size: 230%;
}

.button-strip-con small{
    color: white !important;
    font-size: 100%;
    margin-bottom: 10px;
}

.button-strip-con .btn{
    font-size: 110%;
    width: 10%;
}

@media screen and (max-width:1024px){

                

                nav{
    background:#2d2e2e;
    height: 20vh;
    /* border: 1px solid red; */
}


.navbar-brand{
    font-size: 0px;
    left: 0vh;
    /* border: 1px solid red; */
}

.navbar-brand img{
    width: 15vh;
}

.nav-link{
    font-size: 125%;
    /* border: 1px solid red; */
}

.lister{
    position: relative;
    left:5vh;
    /* border: 1px solid red; */
}

    .nav-item{
        margin: 5px !important;
    }


    .shop-con{
    left: 20vh;
}

.fa-shopping-cart{
    font-size: 140%;
}


 
.prime-cover{
    position: relative;
    left: 0vh;
    width: auto !important;
    /* border: 1px solid red; */
}

.prime-line, .real-line, .enter-line{
    left: -48vh;
}

.vid-con{
    display: none;
}

 .real-line{
    left: -18vh;
}

.liner-btn{
    width: 25vh;
    height: 7vh;
}

.real-cover{
    /* border: 1px solid red; */
    position: relative;
    left: 2vh;
    width: 45vh;
    /* border: 1px solid red; */
}

    .real-left, .enter-left{
        /* border:1px solid red; */
        width: 50vh;
        height: 50vh;
    /* border: 1px solid red; */
    }


    
  
.enter-left{
        /* border:1px solid red; */
        position: relative;
        left: 0vh;
    }
 
    
.enter-cover{
        /* border:1px solid red; */
        position: relative;
        left: 0vh;
        width: 53vh;
        /* border: 1px solid red; */
    }

    .enter-line{
        left: -23vh;
    }


      .shogun-image {  
            max-width: 100% !important;
            min-height: inherit;
            max-height: inherit;
            display: block !important;
            /* border: 1px solid red; */

            }


            .support-row-cons{
                width: 40vh !important;
            }
 
            .btn-guide-img-con{
                width: 50%;
            }
}


@media screen and (max-width:768px){

    .navbar-nav{
        background: black !important;
    }

                .navbar-brand img{
    width: 25vh;
}

.lister{
    left:58vh;
}

    .shop-con{
    left: 65vh;
}

.fa-shopping-cart{
    font-size: 120%;
}

                
#slide{
    height: 50vh;
    /* border: 1px solid red; */
}

#slide .image-responsive{
    float: right;
    /* border: 1px solid red;     */
    width: 100%;
}
 
.support-top{
    justify-content: center;
}


.support-top-inner{
    width: 80% !important;
    margin: 0px !important;
    left: 0;
}
.abs-con{
    top: 23vh;
}

.big-text{
    color: white;
    font-size: 150%;
    font-family: sans-serif;
    font-weight: bold;
    width: 40vh;
    /* text-shadow: 2px 2px 2px black; */
}
.text-intro{
    color: white;
    font-size: 100%;
    width: 50vh;
    /* text-shadow: 2px 2px 2px black; */
}

.text-writeup-head{
    color: #25f1c9;
    font-size: 80%;
    font-weight: bold;
}

.s3-img-con{
    height: 80vh;
}


.prime-cover{
    position: relative;
    left: 7vh;
    width: 45vh;
}

.real-cover{
    position: relative;
    left: 20vh;
    width: 45vh;
}


.liner-btn{
    width: 39vh;
    height: 7vh;
}


    .real-left, .enter-left{
        display: none;
    }



    .foot-cover{
                 position: relative;
                 width: 100%;
                 left: 0vh;
                 padding: 0px !important;
    }


    .sci-top, .sci-2a,.support-top{
    background-size: 100% 100%;
    }

    .sci-2{
        height: auto;
    }
    .sci-2a{
        margin-top: 0vh !important;
}

.row{
    justify-content: center;
}

.stripper-con .btn{
    width: 40vh;
}

.insider-super{
    align-items: center !important;
    /* border: 1px solid red; */
}
.insider-super ul{
    /* border: 1px solid red; */
    width: 100% !important;
}


.getting-title, .insider-title{
    font-size: 170%;
}
.btn-guide-img-con{
    width: 80%;
}

.button-strip-con p{
    font-size: 170%;
}
.button-strip-con .btn{
    width: 30%;
}
}



              

 @media screen and (max-width:425px){

  .navbar-brand img{
    width: 12vh;
    left: 0vh;
}

.lister{
    left:26vh;
}

    .shop-con{
    left: 28vh;
}

.fa-shopping-cart{
    font-size: 120%;
}

.text-intro{
    margin-right: 1vh !important;
    width: 44vh;
    /* border: 1px solid red; */
}

/* .dxx{
    position: relative;
    left: -1vh;
} */
              

                .navbar-brand img{
    width: 12vh;
    left: 0vh;
}

.lister{
    left:40%;
}

    .shop-con{
    left: 20vh;
}

.fa-shopping-cart{
    font-size: 100%;
}

.fa-play{
    font-size: 60%;
}

#playRight{
    position: relative;
    top: 2vh;
}

.text-intro{
    margin-right: 0vh !important;
    width: 39vh;
    /* border: 1px solid red; */
}

.reduced{
    font-size: 190%;
}


.real-cover{
    position: relative;
    left: 0%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.real-line{
    left: -150% !important;
}

.foot-cover{
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
}

.foot-cover .jumbotron{
    margin: 0px !important;
    padding: 0px;
}
}

@media screen and (max-width:375px){
.prime-cover{
    position: relative;
    left: 1vh;
    width: auto !important;
}

.support-top-inner{
    width: 100%;
    /* height: auto; */
    border: 1px solid red;
}
.real-cover{
    width: 100vh;
    left: 2vh;
}

.reduced{
    font-size: 180%;
}

.real-cover{
    left: 0%;
}

.support-more-row-cons{
    width: 80%;
}

.top-3-row-cons{
    width: 80%;
}

.insider-super{
    display: block;
}

.button-row-cons{
    margin: 0px;
}
.insider-super .list-group-item{
    width: 166%;
}

.getting-dummy-con{
    width: 90%;
}

.top-3-stripper-con .btn{
    margin-top: 20px !important;
}
}

 @media screen and (max-width:320px){

  #slide{
    height: 53vh;
}

  .navbar-brand img{
    width: 10vh;
    left: 0vh;
}

.lister{
    left:25%;
}

    .shop-con{
    left: 12vh;
}

.fa-shopping-cart{
    font-size: 100%;
}

.fa-play{
    font-size: 50%;
    margin: 0px !important;
}

.dxx{
    position: relative;
    left: -4vh;
}


.text-intro{
    margin: 0vh !important;
    width: 35vh;
    /* border: 1px solid red; */
}


.reduced{
    font-size: 170%;
}            

}

