/* root{
--primary-color: linear-gradient(to left, #302b48, #264A9D);
} */

body{
background-color: white;
margin: 0px;
font-size: 100%;
width: 100%;
overflow-x: hidden;
}

nav{
    background: linear-gradient(to left, #4294b4, rgb(61, 85, 143));
    height: 14vh;
}

.navbar-brand{
    color: white !important;
    font-size: 250%;
}

.nav-link{
    color: white !important;
}

/* .s1{
    height: 50vh;
} */

#slide{
    display: flex;
    height: 85vh;
    width: inherit;
    overflow: hidden;
    display: flex;
    /* border: 1px solid red; */
}

#slide .image-responsive{
    float: right;
    /* border: 1px solid red; */    
    width: 100%;
    height: inherit;
    object-fit: fill;
}
 
.abs-con{
    top: 34vh;
}

.big-text{
    color: white;
    font-size: 270%;
    font-weight: normal;
    text-shadow: 2px 2px 2px black;
}
.text-intro{
    color: white;
    font-size: 110%;
    text-shadow: 2px 2px 2px black;
}

.text-writeup-head{
    font-size: 100%;
    font-weight: bold;
}

.text-writeup{
    font-size: 109%;
}

.btn{
    color: white;
    background: linear-gradient(to left, #4294b4, rgb(61, 85, 143));
    border: 1px solid transparent!important;
    width: 23vh;
    height: 6vh;
    border: hidden;
}

#playRight{
    transform: rotateZ(58deg);
}

.fa-play-circle{
    cursor: pointer;
}

.s2-img{
height: 45vh;
width: 50vh;
}


.s3-img-con{
height: 55vh;
width: 45vh;
background-size: 100% 100% !important;
background-position: center !important;
object-fit: contain !important;
}

























#space{
    position: relative;
    top: 13vh;
}


.strip{
    color: #3d558f;
}
.strip-end{
    color:#4294b4;
}

.slide-con{
    height: 50vh;
    width: 75vh;
    overflow: hidden;
    display: flex;
    /* border: 1px solid red; */
}





.hrr-5 {
    border: 0;
    height: 15px;
    margin-bottom: 50px !important;
    position: relative;
    background: radial-gradient(ellipse at bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 70%);
    width: 50% !important;
    margin-top: -25px !important;
}
.s2-list-con{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 3;
}

.box{
    display: flex;
    justify-content: start;
    align-items: baseline;
    flex: 50%;
}

/* .box p{
    border: 1px solid red;
} */

.fa{
    font-size: 240%;
    /* color: #3d558f; */
    color: white;
}

.tab-icons{
    font-size: 120%;
}
.nav-item{
    border-bottom: 2px dotted white;
    transition: border-bottom 0.60s;
}
.nav-item:hover{
    border-bottom: 4px solid white;
}

.icon-con{
    animation: bounce 3.5s ease-out 0s infinite;
}

@-webkit-keyframes bounce {
    0% { transform: translateY(-5px) }
    50% { transform: translateY(10px) }
    100% { transform: translateY(-5px) }
}

@keyframes bounce {
    0% { transform: translateY(-5px);
    text-shadow: 3px 3px 6px black; }
    50% { transform: translateY(10px);
    text-shadow: none; }
    100% { transform: translateY(-5px);
    text-shadow: 3px 3px 6px black; }
}


.icon-title{
    font-weight: bold;
}



.btn-white{
    color: black;
    background: white;
    border: 1px solid transparent!important;
}
.btn:hover, .btn-white:hover{
    color: white;
    background: #4294b4;
    border: 1px solid white !important;
    box-shadow: none !important;
}
.con-stripped{
    background: linear-gradient(to left, #4294b4, rgb(61, 85, 143));
}

.partner-con .image-responsive{
    width: 17vh;
    height: 14vh;
    /* filter: grayscale(1); */
}

.brief-cons .list-group a{
    color: inherit;
    text-decoration: underline;
}

@media screen and (max-width:768px){
    .brief-cons{
        width: 30vh !important;
    }
}


@media screen and (max-width:425px){
    .image-responsive{
        display: none;
    }

    .fa{
        font-size: 380%;
    }
    .tab-icons{
    font-size: 120%;
}

.nav-item{
    margin: 0px !important;
}

.s2-list-con{
    padding: 0px !important;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 10px !important;
    padding: 5px !important;
    /* border: 1px solid red; */
}

    .brief-super-con{
      display: flex;
      flex-direction: column;
    }

    .brief-cons{
       /* border: 1px solid red; */
        width: 100% !important;
        margin-bottom: 3vh;
    }
}