.shg-rich-text {
  overflow-wrap: break-word;
}

.shg-rich-text img {
  margin: 0 20px;
}

@media (max-width: 768px) {
  .shg-rich-text img {
    display: block;
    float: none !important;
    margin: 0 auto;
  }
}

.shg-default-text-content *:first-child {
  margin-top: 0;
}

.shg-default-text-content {
  text-align: left;
}

.shg-default-text-content p,
.shg-default-text-content h1,
.shg-default-text-content h2,
.shg-default-text-content h3,
.shg-default-text-content h4,
.shg-default-text-content h5,
.shg-default-text-content h6,
.shg-default-text-content address,
.shg-default-text-content pre,
.shg-default-text-content div,
.shg-default-text-content ol,
.shg-default-text-content ul {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: #000000;
  font-family: inherit;
  font-style: normal;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  text-transform: none;
}

.shg-default-text-content a {
  background-color: inherit;
  color: inherit;
  cursor: text;
  font-family: inherit;
  font-style: inherit;
  text-decoration: underline;
  text-transform: inherit;
}

.shg-default-text-content strong,
.shg-default-text-content em {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-align: inherit;
  text-transform: inherit;
}

.shg-default-text-content em {
  font-weight: inherit;
}

.shg-default-text-content strong {
  font-style: inherit;
  font-weight: 700;
}

/* https://stackoverflow.com/a/16094931/3696652 */
.shg-default-text-content ::-moz-selection,
.shg-default-text-content *::-moz-selection {
  background: #accef7;
}
.shg-default-text-content ::selection,
.shg-default-text-content *::selection {
  background: #accef7;
}

.shg-default-text-content p {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1.714;
  margin-top: 0.6em;
}

.shg-default-text-content h1 {
  font-size: 1.714em;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.166;
  margin-top: 0.67em;
}

.shg-default-text-content h2 {
  font-size: 1.43em;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.2;
  margin-top: 0.83em;
}

.shg-default-text-content h3 {
  font-size: 1.142em;
  font-weight: 500;
  letter-spacing: -0.008em;
  line-height: 1.5;
  margin-top: 1em;
}

.shg-default-text-content h4 {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: -0.006em;
  line-height: 1.428;
  margin-top: 1.33em;
}

.shg-default-text-content h5 {
  font-size: 0.857em;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 1.333;
  margin-top: 1.43em;
}

.shg-default-text-content h6 {
  font-size: 0.785em;
  font-weight: 600;
  letter-spacing: -0.003em;
  line-height: 1.454;
  margin-top: 1.42em;
  text-transform: uppercase;
}

.shg-default-text-content ul {
  list-style: disc;
}

.shg-default-text-content ol {
  list-style: decimal;
}

.shg-default-text-content ul,
.shg-default-text-content ol {
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  margin-bottom: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  margin-top: 0;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.shg-default-text-content li {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1;
  list-style: inherit;
  margin-top: 0.67em;
}

.shg-default-text-content pre {
  font-family: monospace;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1.714;
  margin-top: 1em;
  white-space: pre-wrap;
  word-break: normal;
}

.shg-default-text-content address {
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1.714;
  margin-top: 0;
}

.shg-default-text-content div {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: -0.005em;
  line-height: 1.714;
  margin-bottom: 0;
  margin-top: 0.67em;
}

.shg-box {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1;
}

.shg-box > .shg-box-content {
  z-index: 4;
  position: relative;
}

.shg-box-vertical-align-wrapper, .shg-box-vertical-center-wrapper {
  display: flex;
  width: 100%;
}

.shg-box-vertical-align-top {
  justify-content: flex-start;
}

.shg-box-vertical-align-center, .shg-box-vertical-center {
  justify-content: center;
}

.shg-box-vertical-align-bottom {
  justify-content: flex-end;
}

.shg-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  pointer-events: none;
}

.shg-box-video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

#s-0ed50746-006e-481f-9a9a-160ccaa813ab { border-style: solid;
margin-left: auto;
border-top-width: 1px;
border-left-width: 0px;
border-bottom-width: 1px;
border-right-width: 0px;
min-height: 70px;
opacity: 1;
border-color: rgba(233, 233, 233, 1);
background-color: rgba(255, 255, 255, 1); }
@media (max-width: 767px){#s-0ed50746-006e-481f-9a9a-160ccaa813ab, #wrap-s-0ed50746-006e-481f-9a9a-160ccaa813ab { display:none !important; }}@media (min-width: 768px) and (max-width: 991px){#s-0ed50746-006e-481f-9a9a-160ccaa813ab, #wrap-s-0ed50746-006e-481f-9a9a-160ccaa813ab { display:none !important; }}@media (min-width: 992px) and (max-width: 1199px){#s-0ed50746-006e-481f-9a9a-160ccaa813ab, #wrap-s-0ed50746-006e-481f-9a9a-160ccaa813ab { display:none !important; }}@media (min-width: 1200px){#s-0ed50746-006e-481f-9a9a-160ccaa813ab, #wrap-s-0ed50746-006e-481f-9a9a-160ccaa813ab { display:none !important; }}
#s-0ed50746-006e-481f-9a9a-160ccaa813ab > .shg-box-overlay {
  background-color: #fff;
  opacity: 0;
}
#s-9f799d7f-100b-4c28-9dad-33a343cda059 {
  display: none;
}
.shg-product-atc-wrapper {
  position: relative;
}

.shg-product-atc-btn {
  position: relative;
  z-index: 2;
  display: block;
  border: none;
  align-items: normal;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity 200ms linear;
  opacity: 1;
}

.shg-product-atc-btn-opaque {
  opacity: 0;
}

.shg-product-atc-info-box {
  position: absolute;
  z-index: 1;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.shg-product-atc-btn-wrapper .shg-btn:not(.shg-btn-stretch) {
  display: inline-block !important;
}

.shg-product-atc-btn-wrapper.shg-align-center {
  text-align: center;
}

.shg-product-atc-btn-wrapper.shg-align-right {
  text-align: right;
}

#s-f62b7643-cc6f-48ac-8217-877366f85381 { margin-left: 55px;
margin-right: 55px;
padding-top: 15px;
padding-left: 30px;
padding-bottom: 15px;
padding-right: 30px;
border-radius: 2px;
text-align: right;
background-color: rgba(37, 37, 37, 1); }
@media (max-width: 767px){#s-f62b7643-cc6f-48ac-8217-877366f85381, #wrap-s-f62b7643-cc6f-48ac-8217-877366f85381 { display:none !important; }}@media (min-width: 768px) and (max-width: 991px){#s-f62b7643-cc6f-48ac-8217-877366f85381, #wrap-s-f62b7643-cc6f-48ac-8217-877366f85381 { display:none !important; }}@media (min-width: 992px) and (max-width: 1199px){#s-f62b7643-cc6f-48ac-8217-877366f85381, #wrap-s-f62b7643-cc6f-48ac-8217-877366f85381 { display:none !important; }}@media (min-width: 1200px){#s-f62b7643-cc6f-48ac-8217-877366f85381, #wrap-s-f62b7643-cc6f-48ac-8217-877366f85381 { display:none !important; }}#s-f62b7643-cc6f-48ac-8217-877366f85381:hover {background-color: #424242 !important;
text-decoration: none !important;}
#s-f62b7643-cc6f-48ac-8217-877366f85381:active {background-color: #000000 !important;
text-decoration: none !important;}

#s-f62b7643-cc6f-48ac-8217-877366f85381 {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  align-items: normal;
  box-sizing: border-box;
}

#s-f62b7643-cc6f-48ac-8217-877366f85381.shg-product-atc-disabled {
  opacity: 0.5;
  cursor: initial;
}

#s-f62b7643-cc6f-48ac-8217-877366f85381.shg-btn {
  color: #ffffff;
  font-size: 13px;
  font-weight:  500 ;
  font-style:  normal ;
  font-family: Montserrat;
}

#s-f62b7643-cc6f-48ac-8217-877366f85381.shg-btn.shg-product-atc-error {
  font-weight:  normal ;
  
  font-style:  normal ;
  
  color: ;
}


  #s-f62b7643-cc6f-48ac-8217-877366f85381.shg-btn.shg-product-atc-success {
    font-weight:  normal ;
    
    font-style:  normal ;
    
    color: ;
  }


#s-e1714e14-9537-41e7-b71c-851624920f64 { border-style: solid;
margin-left: auto;
border-top-width: 1px;
border-left-width: 0px;
border-bottom-width: 1px;
border-right-width: 0px;
min-height: 70px;
opacity: 1;
border-color: rgba(233, 233, 233, 1);
background-color: rgba(255, 255, 255, 1); }
#s-e1714e14-9537-41e7-b71c-851624920f64 > .shg-box-overlay {
  background-color: #fff;
  opacity: 0;
}
#s-955ac5e2-0b14-463d-9309-590165ee8a87 {
  display: none;
}
#s-7c960e49-b043-4b8e-a705-a7170daec173 { margin-left: 55px;
margin-right: 55px;
padding-top: 15px;
padding-left: 30px;
padding-bottom: 15px;
padding-right: 30px;
border-radius: 2px;
text-align: right;
background-color: rgba(37, 37, 37, 1); }
#s-7c960e49-b043-4b8e-a705-a7170daec173:hover {background-color: #424242 !important;
text-decoration: none !important;}
#s-7c960e49-b043-4b8e-a705-a7170daec173:active {background-color: #000000 !important;
text-decoration: none !important;}

#s-7c960e49-b043-4b8e-a705-a7170daec173 {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  align-items: normal;
  box-sizing: border-box;
}

#s-7c960e49-b043-4b8e-a705-a7170daec173.shg-product-atc-disabled {
  opacity: 0.5;
  cursor: initial;
}

#s-7c960e49-b043-4b8e-a705-a7170daec173.shg-btn {
  color: #ffffff;
  font-size: 13px;
  font-weight:  500 ;
  font-style:  normal ;
  font-family: Montserrat;
}

#s-7c960e49-b043-4b8e-a705-a7170daec173.shg-btn.shg-product-atc-error {
  font-weight:  normal ;
  
  font-style:  normal ;
  
  color: ;
}


  #s-7c960e49-b043-4b8e-a705-a7170daec173.shg-btn.shg-product-atc-success {
    font-weight:  normal ;
    
    font-style:  normal ;
    
    color: ;
  }


#s-7aa30f23-2221-4ae4-8669-86efbe9b5e5b { margin-top: 30px;
margin-left: 20px;
margin-bottom: 30px;
margin-right: 20px;
min-height: 50px;
background-color: rgba(80, 80, 91, 1); }
#s-7aa30f23-2221-4ae4-8669-86efbe9b5e5b > .shg-box-overlay {
  background-color: #fff;
  opacity: 0;
}
.shogun-heading-component h1,
.shogun-heading-component h2,
.shogun-heading-component h3,
.shogun-heading-component h4,
.shogun-heading-component h5,
.shogun-heading-component h6 {
  margin: 0;
  padding: 0;
  display: block;
  color: #000;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.shogun-heading-component a {
  text-decoration: none !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

#s-bf64ca08-c3f6-4dc5-ac85-c511378cd17c { padding-top: 30px;
padding-bottom: 0px; }
 #s-bf64ca08-c3f6-4dc5-ac85-c511378cd17c .shogun-heading-component h1 {
   color: rgba(255, 255, 255, 1);
   font-weight:  600 ;
   font-family: Montserrat;
   font-style:  normal ;
   font-size: 32px;
   
   
   text-align: center;
 }

 

.shg-row {
  display: flex;
  flex-wrap: wrap;
  min-height: inherit;
  max-height: inherit;
justify-content: space-between;
}

.shg-row > * {
  min-height: inherit;
  max-height: inherit;
}

.shg-c-xs-1,
.shg-c-xs-2,
.shg-c-xs-3,
.shg-c-xs-4,
.shg-c-xs-5,
.shg-c-xs-6,
.shg-c-xs-7,
.shg-c-xs-8,
.shg-c-xs-9,
.shg-c-xs-10,
.shg-c-xs-11,
.shg-c-xs-12,
.shg-c-sm-1,
.shg-c-sm-2,
.shg-c-sm-3,
.shg-c-sm-4,
.shg-c-sm-5,
.shg-c-sm-6,
.shg-c-sm-7,
.shg-c-sm-8,
.shg-c-sm-9,
.shg-c-sm-10,
.shg-c-sm-11,
.shg-c-sm-12,
.shg-c-md-1,
.shg-c-md-2,
.shg-c-md-3,
.shg-c-md-4,
.shg-c-md-5,
.shg-c-md-6,
.shg-c-md-7,
.shg-c-md-8,
.shg-c-md-9,
.shg-c-md-10,
.shg-c-md-11,
.shg-c-md-12,
.shg-c-lg-1,
.shg-c-lg-2,
.shg-c-lg-3,
.shg-c-lg-4,
.shg-c-lg-5,
.shg-c-lg-6,
.shg-c-lg-7,
.shg-c-lg-8,
.shg-c-lg-9,
.shg-c-lg-10,
.shg-c-lg-11,
.shg-c-lg-12 {
  position: relative;
}

#s-7f204d6c-f62a-47d9-867d-463e396117b1 { margin-top: 10px;
margin-left: 30px;
margin-bottom: 10px;
margin-right: 30px;
padding-bottom: 40px; }
@media (min-width: 0px) {
[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-xs-12 {
  width: 100%;
}

}

@media (min-width: 768px) {
[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-sm-1 {
  width: calc(8.333333333333334% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-sm-2 {
  width: calc(16.666666666666668% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-sm-3 {
  width: calc(25.0% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-sm-4 {
  width: calc(33.333333333333336% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-sm-5 {
  width: calc(41.66666666666667% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-sm-6 {
  width: calc(50.0% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-sm-7 {
  width: calc(58.333333333333336% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-sm-8 {
  width: calc(66.66666666666667% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-sm-9 {
  width: calc(75.0% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-sm-10 {
  width: calc(83.33333333333334% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-sm-11 {
  width: calc(91.66666666666667% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-sm-12 {
  width: calc(100.0% - 20.0px);
}

}

@media (min-width: 992px) {
[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-md-1 {
  width: calc(8.333333333333334% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-md-2 {
  width: calc(16.666666666666668% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-md-3 {
  width: calc(25.0% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-md-4 {
  width: calc(33.333333333333336% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-md-5 {
  width: calc(41.66666666666667% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-md-6 {
  width: calc(50.0% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-md-7 {
  width: calc(58.333333333333336% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-md-8 {
  width: calc(66.66666666666667% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-md-9 {
  width: calc(75.0% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-md-10 {
  width: calc(83.33333333333334% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-md-11 {
  width: calc(91.66666666666667% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-md-12 {
  width: calc(100.0% - 20.0px);
}

}

@media (min-width: 1200px) {
[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-lg-1 {
  width: calc(8.333333333333334% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-lg-2 {
  width: calc(16.666666666666668% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-lg-3 {
  width: calc(25.0% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-lg-4 {
  width: calc(33.333333333333336% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-lg-5 {
  width: calc(41.66666666666667% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-lg-6 {
  width: calc(50.0% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-lg-7 {
  width: calc(58.333333333333336% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-lg-8 {
  width: calc(66.66666666666667% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-lg-9 {
  width: calc(75.0% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-lg-10 {
  width: calc(83.33333333333334% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-lg-11 {
  width: calc(91.66666666666667% - 20.0px);
}

[id="s-7f204d6c-f62a-47d9-867d-463e396117b1"] > .shg-row > .shg-c-lg-12 {
  width: calc(100.0% - 20.0px);
}

}

#s-af94d07c-65a6-46f7-af50-021bbc19e55e { min-height: 50px; }
#s-af94d07c-65a6-46f7-af50-021bbc19e55e > .shg-box-overlay {
  background-color: #fff;
  opacity: 0;
}
.shogun-image-container {
  position: relative;
}

.shogun-image-linked {
  cursor: pointer;
}

.shogun-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.shogun-image-overlay.shg-top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.shogun-image-overlay.shg-top-center {
  align-items: flex-start;
  justify-content: center;
}

.shogun-image-overlay.shg-top-right {
  align-items: flex-start;
  justify-content: flex-end;
}

.shogun-image-overlay.shg-middle-left {
  align-items: center;
  justify-content: flex-start;
}

.shogun-image-overlay.shg-middle-center {
  align-items: center;
  justify-content: center;
}

.shogun-image-overlay.shg-middle-right {
  align-items: center;
  justify-content: flex-end;
}

.shogun-image-overlay.shg-bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}

.shogun-image-overlay.shg-bottom-center {
  align-items: flex-end;
  justify-content: center;
}

.shogun-image-overlay.shg-bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}

.shogun-image-overlay p {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.shogun-image-cover {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
  width: 100%;
}

.shogun-image-contain {
  font-family: "object-fit: contain;";
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.shogun-image-link {
  display: block;
  min-height: inherit;
  max-height: inherit;
}

img.shogun-image {
  display: block;
  margin: 0 auto !important;
  max-width: 100% !important;
}

.shogun-image-content {
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.shogun-image-content-linked, .shogun-image-content-not-linked {
  pointer-events: none;
}

.shogun-image-content-not-linked > div {
  pointer-events: auto;
}

.shogun-image-content-linked a,
.shogun-image-content-linked button,
.shogun-image-content-linked iframe,
.shogun-image-content-linked .shg-box-linked {
  pointer-events: auto;
}

.shogun-image-content > div {
  width: 100%;
}

.shogun-image-content-top {
  align-items: flex-start;
}

.shogun-image-content-center {
  align-items: center;
}

.shogun-image-content-bottom {
  align-items: flex-end;
}
#s-7999c046-0fe2-4371-a19b-85004d0b5e71 { margin-bottom: 10px;
padding-top: 40px;
padding-bottom: 0px;
text-align: center; }
#s-d8aff19b-c9c9-4d03-97b7-493b59f5d60b { margin-left: 20px;
margin-right: 20px;
padding-top: 10px;
padding-bottom: 10px; }
 #s-d8aff19b-c9c9-4d03-97b7-493b59f5d60b .shogun-heading-component h3 {
   color: rgba(255, 255, 255, 1);
   font-weight:  800 ;
   font-family: Montserrat;
   font-style:  normal ;
   font-size: 18px;
   
   
   text-align: center;
 }

 

#s-404cce17-4bfa-46e6-a590-662d75195b9b { margin-left: 20px;
margin-bottom: 10px;
margin-right: 20px; }
.shg-btn {
  cursor: pointer;
  box-sizing: border-box;
}

.shg-btn.shg-btn-stretch {
  display: block;
}

.shg-btn:not(.shg-btn-stretch) {
  display: inline-block;
}

.shg-btn-wrapper.shg-align-left {
  text-align: left;
}

.shg-btn-wrapper.shg-align-center {
  text-align: center;
}

.shg-btn-wrapper.shg-align-right {
  text-align: right;
}

#s-06e8ab84-3a59-4a2f-93c9-884c72b36702 { box-shadow:1px 1px 1px 0px rgba(0, 0, 0, 0.1);
margin-top: 0px;
margin-left: auto;
margin-bottom: 0px;
margin-right: auto;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
border-radius: 3px;
max-width: 185px;
text-align: center;
background-color: rgba(0, 220, 175, 1);
text-decoration: none; }
#s-06e8ab84-3a59-4a2f-93c9-884c72b36702:hover {background-color: rgba(6, 192, 153, 1) !important;
text-decoration: none !important;}
#s-06e8ab84-3a59-4a2f-93c9-884c72b36702:active {background-color: rgba(4, 131, 105, 1) !important;
text-decoration: none !important;}

 #s-06e8ab84-3a59-4a2f-93c9-884c72b36702.shg-btn {
   color: #ffffff;
   font-size: 16px;
   font-weight:  normal ;
   font-style:  normal ;
   font-family: Montserrat;
 }
#s-960c49ba-a070-4d27-bcc0-8ceb32862cca { min-height: 50px; }
#s-960c49ba-a070-4d27-bcc0-8ceb32862cca > .shg-box-overlay {
  background-color: #fff;
  opacity: 0;
}
#s-053946d4-5a04-4472-8c4d-0730a7442aac { margin-bottom: 10px;
padding-top: 40px;
padding-bottom: 0px;
text-align: center; }
#s-45ac289b-9c2a-4630-a327-fb4e14245bdb { margin-left: 20px;
margin-right: 20px;
padding-top: 10px;
padding-bottom: 10px; }
 #s-45ac289b-9c2a-4630-a327-fb4e14245bdb .shogun-heading-component h3 {
   color: rgba(255, 255, 255, 1);
   font-weight:  800 ;
   font-family: Montserrat;
   font-style:  normal ;
   font-size: 18px;
   
   
   text-align: center;
 }

 

#s-03998405-e508-4988-b2d1-15d35bef7742 { margin-left: 20px;
margin-bottom: 10px;
margin-right: 20px; }
#s-c6c21026-5770-43be-aa49-f735a12a411c { box-shadow:1px 1px 1px 0px rgba(0, 0, 0, 0.1);
margin-top: 0px;
margin-left: auto;
margin-bottom: 0px;
margin-right: auto;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
border-radius: 3px;
max-width: 185px;
text-align: center;
background-color: rgba(0, 220, 175, 1);
text-decoration: none; }
#s-c6c21026-5770-43be-aa49-f735a12a411c:hover {background-color: rgba(6, 192, 153, 1) !important;
text-decoration: none !important;}
#s-c6c21026-5770-43be-aa49-f735a12a411c:active {background-color: rgba(4, 131, 105, 1) !important;
text-decoration: none !important;}

 #s-c6c21026-5770-43be-aa49-f735a12a411c.shg-btn {
   color: #ffffff;
   font-size: 16px;
   font-weight:  normal ;
   font-style:  normal ;
   font-family: Montserrat;
 }
#s-350fd925-ee00-42cf-a352-ae7faf14deef { min-height: 50px; }
#s-350fd925-ee00-42cf-a352-ae7faf14deef > .shg-box-overlay {
  background-color: #fff;
  opacity: 0;
}
#s-da487e9a-70f2-4814-9519-3c22ff161115 { margin-bottom: 10px;
padding-top: 40px;
padding-bottom: 0px;
text-align: center; }
#s-443157d2-9f01-4183-ad42-f0e09de643db { margin-left: 20px;
margin-right: 20px;
padding-top: 10px;
padding-bottom: 10px; }
 #s-443157d2-9f01-4183-ad42-f0e09de643db .shogun-heading-component h3 {
   color: rgba(255, 255, 255, 1);
   font-weight:  800 ;
   font-family: Montserrat;
   font-style:  normal ;
   font-size: 18px;
   
   
   text-align: center;
 }

 

#s-9b7b81bf-1609-4217-ba89-683e13b2128d { margin-left: 20px;
margin-bottom: 10px;
margin-right: 20px; }
#s-9056d88e-e083-4fa5-9e91-260abd7d0c31 { box-shadow:1px 1px 1px 0px rgba(0, 0, 0, 0.1);
margin-top: 0px;
margin-left: auto;
margin-bottom: 0px;
margin-right: auto;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
border-radius: 3px;
max-width: 185px;
text-align: center;
background-color: rgba(0, 220, 175, 1);
text-decoration: none; }
#s-9056d88e-e083-4fa5-9e91-260abd7d0c31:hover {background-color: rgba(6, 192, 153, 1) !important;
text-decoration: none !important;}
#s-9056d88e-e083-4fa5-9e91-260abd7d0c31:active {background-color: rgba(4, 131, 105, 1) !important;
text-decoration: none !important;}

 #s-9056d88e-e083-4fa5-9e91-260abd7d0c31.shg-btn {
   color: #ffffff;
   font-size: 16px;
   font-weight:  normal ;
   font-style:  normal ;
   font-family: Montserrat;
 }
#s-d8e0279f-6120-4b09-8274-9121d94237c4 {  }
#s-41d423e9-276c-4edb-9e59-8e006c69ffd0 { margin-top: 20px;
margin-bottom: 20px;
padding-top: 0px;
padding-bottom: 0px;
min-height: 350px;
background-color: rgba(255, 255, 255, 1); }
@media (max-width: 767px){#s-41d423e9-276c-4edb-9e59-8e006c69ffd0, #wrap-s-41d423e9-276c-4edb-9e59-8e006c69ffd0 { display:none !important; }}@media (min-width: 768px) and (max-width: 991px){#s-41d423e9-276c-4edb-9e59-8e006c69ffd0, #wrap-s-41d423e9-276c-4edb-9e59-8e006c69ffd0 { display:none !important; }}
#s-41d423e9-276c-4edb-9e59-8e006c69ffd0 > .shg-box-overlay {
  background-color: #fff;
  opacity: 0;
}
@media (min-width: 0px) {
[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-xs-12 {
  width: 100%;
}

}

@media (min-width: 768px) {
[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-sm-1 {
  width: calc(8.333333333333334% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-sm-2 {
  width: calc(16.666666666666668% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-sm-3 {
  width: calc(25.0% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-sm-4 {
  width: calc(33.333333333333336% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-sm-5 {
  width: calc(41.66666666666667% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-sm-6 {
  width: calc(50.0% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-sm-7 {
  width: calc(58.333333333333336% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-sm-8 {
  width: calc(66.66666666666667% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-sm-9 {
  width: calc(75.0% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-sm-10 {
  width: calc(83.33333333333334% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-sm-11 {
  width: calc(91.66666666666667% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-sm-12 {
  width: calc(100.0% - 15.0px);
}

}

@media (min-width: 992px) {
[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-md-1 {
  width: calc(8.333333333333334% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-md-2 {
  width: calc(16.666666666666668% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-md-3 {
  width: calc(25.0% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-md-4 {
  width: calc(33.333333333333336% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-md-5 {
  width: calc(41.66666666666667% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-md-6 {
  width: calc(50.0% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-md-7 {
  width: calc(58.333333333333336% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-md-8 {
  width: calc(66.66666666666667% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-md-9 {
  width: calc(75.0% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-md-10 {
  width: calc(83.33333333333334% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-md-11 {
  width: calc(91.66666666666667% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-md-12 {
  width: calc(100.0% - 15.0px);
}

}

@media (min-width: 1200px) {
[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-lg-1 {
  width: calc(8.333333333333334% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-lg-2 {
  width: calc(16.666666666666668% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-lg-3 {
  width: calc(25.0% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-lg-4 {
  width: calc(33.333333333333336% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-lg-5 {
  width: calc(41.66666666666667% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-lg-6 {
  width: calc(50.0% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-lg-7 {
  width: calc(58.333333333333336% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-lg-8 {
  width: calc(66.66666666666667% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-lg-9 {
  width: calc(75.0% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-lg-10 {
  width: calc(83.33333333333334% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-lg-11 {
  width: calc(91.66666666666667% - 15.0px);
}

[id="s-5970e2a0-b7ec-4c7d-86bb-b3ce5bdd3ce5"] > .shg-row > .shg-c-lg-12 {
  width: calc(100.0% - 15.0px);
}

}

#s-214e5bf9-f3d4-47b4-b212-e1fcffba71a1 { margin-left: 20px;
margin-right: 20px;
min-height: 350px; }
#s-214e5bf9-f3d4-47b4-b212-e1fcffba71a1 > .shg-box-overlay {
  background-color: #fff;
  opacity: 0;
}
#s-d3b9ad7e-bfa1-4850-89ab-ccec774c6900 { text-align: center; }
#s-ec9033b2-c624-4ad0-8503-b8c3108ad6c9 { margin-top: 100px;
margin-left: 0px;
margin-bottom: 100px;
margin-right: 196px;
min-height: 50px; }
#s-ec9033b2-c624-4ad0-8503-b8c3108ad6c9 > .shg-box-overlay {
  background-color: #fff;
  opacity: 0;
}
#s-4c2f7182-a502-4e0c-98e6-7b6b2a273cdc { padding-top: 10px;
padding-bottom: 10px; }
 #s-4c2f7182-a502-4e0c-98e6-7b6b2a273cdc .shogun-heading-component h3 {
   color: rgba(0, 0, 0, 1);
   font-weight:  800 ;
   font-family: Montserrat;
   font-style:  normal ;
   font-size: 32px;
   
   
   text-align: left;
 }

 

#s-dc0872d8-0cc6-4ef7-a0e5-ea122bce11ae { box-shadow:1px 1px 3px 0px rgba(0, 0, 0, 0.1);
border-style: solid;
margin-top: 0px;
margin-left: 0px;
margin-bottom: 0px;
margin-right: 0px;
padding-top: 10px;
padding-left: 0px;
padding-bottom: 10px;
padding-right: 0px;
border-top-width: 1px;
border-left-width: 1px;
border-bottom-width: 1px;
border-right-width: 1px;
border-radius: 3px;
max-width: 252px;
text-align: center;
border-color: rgba(0, 220, 175, 1);
background-color: rgba(0, 220, 175, 0);
text-decoration: none; }
#s-dc0872d8-0cc6-4ef7-a0e5-ea122bce11ae:hover {box-shadow:2px 2px 4px 1px  !important;
border-style: solid !important;
border-color: rgba(145, 236, 217, 1) !important;
background-color: rgba(6, 192, 153, 0) !important;
color: rgba(145, 236, 217, 1) !important;
text-decoration: none !important;}
#s-dc0872d8-0cc6-4ef7-a0e5-ea122bce11ae:active {border-style: solid !important;
border-color: rgba(3, 180, 143, 1) !important;
background-color: rgba(4, 131, 105, 0) !important;
color: rgba(3, 180, 143, 1) !important;
text-decoration: none !important;}

 #s-dc0872d8-0cc6-4ef7-a0e5-ea122bce11ae.shg-btn {
   color: rgba(0, 220, 175, 1);
   font-size: 14px;
   font-weight:  300 ;
   font-style:  normal ;
   font-family: Montserrat;
 }
/*
  $vgutter : 20px
  $hgutter : 10px;
*/

.shg-c:before,
.shg-c:after {
  content: " ";
  display: table;
}

/**
  Ref:
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
  https://dnf.slack.com/archives/C0514HB79/p1538741509000100
**/
.shogun-root {
  z-index: 1;
  position: relative;
  isolation: isolate;
}

.shogun-root iframe {
  display: initial;
}

@media (max-width: 1024px) {
  .shg-c,
  .shg-box {
    background-attachment: scroll !important;
  }
}

#mc_embed_signup .clear {
  width: auto !important;
  height: auto !important;
  visibility: visible !important;
}

.shg-clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.shogun-image {
  max-width: 100%;
  min-height: inherit;
  max-height: inherit;
  display: inline !important;
  border: 0;
  vertical-align: middle;
}

.shg-fw {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

.shg-fw .shg-fw {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

div[data-shg-lightbox-switch] {
  cursor: pointer;
}

.shg-lightbox {
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.85);
}

.shg-lightbox.hidden {
  display: none !important;
}

.shg-lightbox .shg-lightbox-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}

.shg-lightbox .shg-lightbox-close {
  position: absolute;
  right: 0;
  padding: 5px 0;
  color: #fff;
  font-size: 45px;
  margin-right: 10px;
  line-height: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 1;
}

.shg-lightbox .shg-lightbox-image-container {
  padding: 25px;
}

.shg-lightbox .shg-lightbox-image {
  margin: auto;
  max-height: 90vh;
  max-width: 100%;
}

.shg-lightbox .shg-lightbox-close:hover,
.shg-lightbox .shg-lightbox-close:focus {
  color: #a2a2a2;
  text-decoration: none;
  cursor: pointer;
}

.shg-lightbox .shg-lightbox-nav {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 35px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  z-index: 1;
}

.shg-lightbox .shg-lightbox-nav.hidden {
  display: none !important;
}

.shg-lightbox .shg-lightbox-nav.shg-nav-left {
  left: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHdpZHRoPSIxNzkyIiBoZWlnaHQ9IjE3OTIiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0id2hpdGUiPjxwYXRoIGQ9Ik0xMjAzIDU0NHEwIDEzLTEwIDIzbC0zOTMgMzkzIDM5MyAzOTNxMTAgMTAgMTAgMjN0LTEwIDIzbC01MCA1MHEtMTAgMTAtMjMgMTB0LTIzLTEwbC00NjYtNDY2cS0xMC0xMC0xMC0yM3QxMC0yM2w0NjYtNDY2cTEwLTEwIDIzLTEwdDIzIDEwbDUwIDUwcTEwIDEwIDEwIDIzeiIvPjwvc3ZnPg==);
}

.shg-lightbox .shg-lightbox-nav.shg-nav-right {
  right: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHdpZHRoPSIxNzkyIiBoZWlnaHQ9IjE3OTIiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0id2hpdGUiPjxwYXRoIGQ9Ik0xMTcxIDk2MHEwIDEzLTEwIDIzbC00NjYgNDY2cS0xMCAxMC0yMyAxMHQtMjMtMTBsLTUwLTUwcS0xMC0xMC0xMC0yM3QxMC0yM2wzOTMtMzkzLTM5My0zOTNxLTEwLTEwLTEwLTIzdDEwLTIzbDUwLTUwcTEwLTEwIDIzLTEwdDIzIDEwbDQ2NiA0NjZxMTAgMTAgMTAgMjN6Ii8+PC9zdmc+);
}

@media screen and (min-width: 769px) {
  .shg-lightbox .shg-lightbox-image-container {
    padding: 50px;
  }
}

.shogun-lazyload:not([src]),
.shogun-lazyloading:not([src]) {
	opacity: 0;
}
.shogun-lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}
